.item input[type="checkbox"] {
    text-align: center;
    width: 2.5rem;
    min-width: 48px;
    height: 2.5rem;
    min-height: 48px;
    cursor: pointer;
}

.item input[type="checkbox"]:focus + label{
text-decoration: underline;
}

.item > label{
    font-size: 0.7rem;
    flex-grow: 1;
}

.item svg{
    width: 48px;
    min-width: 48px;
    height: 36px;
    font-size: 2px;
    color: steelblue;
    cursor: pointer;
}

.item svg:focus,
.item svg:hover{
    color: red;
    outline: none;
}